/* cssku.css */

.wrapper {
	border: 1px solid black;
}

header {
	border: 1px solid black;
}

.side-page {
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	width: 30%;
	height: 700px;
	border: 1px solid black;
}

.content {
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	width: 69%;
	height: 700px;
	float: right;
	border: 1px solid black;
}

footer {
	padding-top: 5px;
	clear: both;
    position: relative;
    border: 1px solid black;
}